services:
  site01:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: site01
    ports:
      - "3000:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    restart: unless-stopped
    networks:
      - devnet

networks:
  devnet:
    name: devnet
    driver: bridge